################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MobileNav.sln
/MobileNav.v12.suo
/.vs